.cont {
	font-family: "Segoe Print";
	font-size: 20px;
	text-decoration: blink;
	background-color:blue;
}
.cont1 {
	font-family: "Segoe Print";
	font-size:20px;
	background-color:white;
}
.cont1 {
	font-family: "Segoe Print";
	font-size:20px;
	background-color:red;
}

.contenu {
	margin-top: 10%;
}
