.cont {
	font-family: "fantasy";
	font-size: 20px;
	text-decoration: blink;
	background-color:blue;
}
.cont1 {
	font-family: "fantasy";
	font-size: 20px;
	background-color: white;
}
.cont2 {
	font-family: "fantasy";
	font-size: 20px;
	background-color: red;
}

.contenu {
	margin-top: 10%;
}
form{
	margin: 20%;
}
img{
max-width: 100%;
height: auto;
}
