.cont {
	font-family: "fantasy";
	text-decoration: blink;
	background-color:blue;
}
.cont1 {
	font-family: "fantasy";
	background-color: white;
}
.cont2 {
	font-family: "fantasy";
	background-color: red;
}

.contenu {
	margin-top: 10%;
}
form{
	margin: 20%;
}
img{
max-width: 100%;
height: auto;
}
 @media screen and (max-width: 480px) {
	*{
	font-size: 20px;
}
 @media screen and (min-width: 481px) and (max-width: 721px) {
	*{
	font-size: 40px;
}
 